.login-form {
    margin-top: 60px;
    width: 350px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.45);

    .login-button {
      background-color: #ffae19;;
    }
}
